
##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


glfw3.dll
glfw3dll.lib
output.g.c
output.exp
output.pdb
output.lib
output.raddbg
output.rdi
output.ilk


*.exe
shader_debug_log_*.txt

# api trace files
*.trace
